<div class="text-center">
    <img src="/imgs/logo_300_roundbg.png" alt="OpenTrashmail Logo">
    <h1>Welcome to OpenTrashmail</h1>
    <p><a href="https://github.com/HaschekSolutions/opentrashmail" target="_blank" role="button" class="secondary"><i class="fab fa-github"></i> View on Github</a></p>
    <p>OpenTrashmail is an open source, selfhostable, disposable email service that helps you protect your privacy online. With OpenTrashmail, you can create your own trashmail addresses using your own domain, subdomain or wildcard domain</p>
</div>